# Startup
---

In [50]:
# Basic function print
print("Hello, world!")

# แสดงข้อความที่อยู่ในตัวแปร text
text = "Hello, world!"
print(text)

text = "HELLO, WORLD!"
# แสดงข้อความ 
print("TEXT:", text)

Hello, world!
Hello, world!
TEXT: HELLO, WORLD!

# Variables and Data Types
---

In [51]:
# Variable assignment
x = 5       # Integer
y = 3.14    # Float
name = "Alice"  # String
is_active = True  # Boolean

# Printing variables
print("X:", x)       # Output: 5
print("Name:", name)    # Output: Alice

X: 5
Name: Alice

# Basic Operations
---

In [52]:
# Arithmetic operations
x = 5       # Integer
y = 3.14    # Float

sum = x + y          # Addition
difference = x - y   # Subtraction
product = x * y      # Multiplication
quotient = x / y     # Division

print("SUM:", sum)           # Output: 8.14
print("Product:", product)  # Output: 15.7

SUM: 8.14
Product: 15.700000000000001

# Logical Operations
___

In [53]:
x = 5
# Logical operations
# Operations: [ < น้อยกว่า, > มากกว่า, == เท่ากับ, != ไม่เท่ากับ ]
is_equal = (x == 5)  # True, x เท่ากับ 5 หรืิอไม่ ถ้าใช่ให้ is_equal มีค่าเท่ากับ True ถ้าไม่ใช่เท่ากับ False
not_equal = (x != 3) # True, x มีค่าเท่ากับ 3 หรืิอไม่ ถ้าไม่ใช่ให้ not_equal มีค่าเท่ากับ True ถ้าไม่ใช่เท่ากับ False

print("Is Equal:", is_equal)      # Output: True
print("Not Equal:", not_equal)      # Output: True

Is Equal: True
Not Equal: True

In [54]:
age = 20
if age >= 18:
    print("You are an adult.")
else:
    print("You are a minor.")

You are an adult.

# Loop
---

### For Loop

In [55]:
# For loop
for i in range(5):
    print("Iteration", i)

Iteration 0
Iteration 1
Iteration 2
Iteration 3
Iteration 4

### While Loop

In [56]:
# While loop
count = 0
while count < 5:
    print("Count is", count)
    count += 1

Count is 0
Count is 1
Count is 2
Count is 3
Count is 4

# Lists and Dictionaries and Tuple
---

### Lists [1, 2, 3, ...]

- **Basic Access**

In [57]:
# Lists
fruits = ["apple", "banana", "cherry"]
print(fruits[0])
fruits.append("orange")  # Add a new eleme

apple

In [58]:
# Define a list of numbers from 1 to 15
# Index    0  1  2  3  4  5  6  7  8  9   10  11  12  13  14
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

print(numbers)
print(numbers[0])    # Access the number at index 0
print(numbers[10])   # Access the number at index 10
print(numbers[5:])   # Access the numbers from index 5 to the end
print(numbers[:-5])  # Access the numbers from index 0 to index -5 (exclusive)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
1
11
[6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

- **Apply with Loop**

In [59]:
numbers = [1, 2, 3, 4, 5]
for number in numbers:
    print("Number:", number)

Number: 1
Number: 2
Number: 3
Number: 4
Number: 5

In [60]:
numbers = [55, 44, 33, 22, 11, 0]
length = len(numbers) # Check length of numbers
print("Legnth:", length)
for index in range(len(numbers)):
    print("Index:", index, "Value:", numbers[index])

Legnth: 6
Index: 0 Value: 55
Index: 1 Value: 44
Index: 2 Value: 33
Index: 3 Value: 22
Index: 4 Value: 11
Index: 5 Value: 0

In [61]:
numbers = [55, 44, 33, 22, 11, 0]
for index, value in enumerate(numbers):
    print("Index:", index, "Value:", value)

Index: 0 Value: 55
Index: 1 Value: 44
Index: 2 Value: 33
Index: 3 Value: 22
Index: 4 Value: 11
Index: 5 Value: 0

### Dictionaries {"key": "value"}

In [62]:
# Dictionaries
person = {
    "name": "John",
    "age": 30,
    "city": "New York"
}
print(person["name"])  # Access the value associated with the "name" key

John

### Tuple (1, 2, 3, ...)

In [63]:
numbers = (1, 2, 3, 4, 5, 6, 7, 8)
print(numbers)
print(numbers[0])
print(numbers.index(4))

(1, 2, 3, 4, 5, 6, 7, 8)
1
3

# Fucntion
---


### Function Returning Multiple Values

In [64]:
# Function Returning Multiple Values
def greet(name="Guest"):
    print("Hello, " + name)

greet()         # Outputs: Hello, Guest
greet("Alice")  # Outputs: Hello, Alice

Hello, Guest
Hello, Alice

### Function with Multiple Parameters

In [65]:
# Function with Multiple Parameters
def add(a, b):
    return a + b

result = add(10, 20)
print(result)  # Outputs: 30

30

### Function with Keyword Arguments

In [66]:
# Function with Keyword Arguments
def introduce(name, age):
    print(f"My name is {name} and I am {age} years old.")

introduce(age=30, name="John")  # Outputs: My name is John and I am 30 years old.

My name is John and I am 30 years old.

### Function Returning Multiple Values

In [67]:
# Function Returning Multiple Values
def get_user_info():
    name = "Alice"
    age = 28
    return name, age

user_name, user_age = get_user_info()
print(user_name)  # Outputs: Alice
print(user_age)   # Outputs: 28

Alice
28